* {
    box-sizing: border-box;
}

.container {
    background-color: aqua;
    height: 600px;
    width: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* row-gap: 10px;
    column-gap: 10px; */
    justify-content: space-between;
    align-items: ;

}

.item {
    background-color: yellow;
    border: 1px dashed red;
    width: 80px;
    min-height: 80px;
}