* {
    box-sizing: border-box;
}

.box {

    width: 300px;
    height: 200px;
    background: radial-gradient(circle at 10% 20%, rgb(0, 0, 0) 0%, rgb(64, 64, 64) 90.2%);

button {
    padding: 12px 24px;

}

button:hover{
    background-color: rgba(122, 242, 255, 0.797);
}